

h1 {
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}
form {
    margin: auto;
}

label {
    color: rgb(245, 212, 26);
    font-weight: bold;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }